PyMuPDF>=1.24.1
pytesseract>=0.3.10
Flask>=3.0.0
pandas>=2.3.3
pythainlp>=5.1.2
Pillow>=12.0.0
opencv-python-headless>=4.9.0.80
easyocr>=1.7.1
numpy>=2.3.5
ollama~=0.6.1
tqdm~=4.67.1
google-generativeai~=0.8.5
dotenv~=0.9.9